<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- <div class="nav navbar-nav navbar-left">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      <a class="navbar-brand" href="#">FakeGitHub</a>
    </div> -->
    <div class="nav navbar-nav navbar-right">
      <a href="#">Repositories <span class="badge"><%= @repositories.count %></span></a>
      <a href="#">Starred <span class="badge"><%= @starred.count %></span></a>
      <a href="#">Followers <span class="badge"><%= @followers.count %></span></a>
      <a href="#">Following <span class="badge"><%= @following.count %></span></a>
    </div>
  </div>
</nav>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="avatar">
          <%= image_tag(@avatar) %>
          <h3><%= @name %></h3>
          <h4><%= @username %></h4>
          <hr>
          <p><%= @location %></p>
          <p><%= @email %></p>
          <hr>
          <h4>Organizations</h4>
            <% @organizations.each do |org| %>
              <li><%= org %></li>
            <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h2>Repositories</h1>
        <table class="table">
          <tbody>
          <% @repositories.each do |repo| %>
            <tr>
              <td><%= link_to repo[:name], (repo[:html_url]) %></br><%= repo[:description] %></td>
              <td><%= repo[:language] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <h2>Recent Activity/Commits</h1>
          <% @commits.each do |commit| %>
            <%= commit %>
          <% end %>
      </div>
    </div>
  </div>
</div>
