<%= render partial: 'layouts/navbar' %>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="avatar">
          <%= image_tag(@user_profile[:avatar_url]) %>
          <h3><%= @user_profile[:name] %></h3>
          <h4><%= @user_profile[:login] %></h4>
          <hr>
          <p><%= @user_profile[:location] %></p>
          <p><%= @user_profile[:email] %></p>
          <hr>
          <h4>Organizations</h4>
            <% @organizations.each do |org| %>
              <li><%= org[:login] %></li>
            <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h2>Repositories</h1>
        <table class="table">
          <tbody>
          <% @repositories.each do |repo| %>
            <tr>
              <td>
                <h4><%= link_to repo[:name], (repo[:html_url]) %></h4>
                <p><%= repo[:description] %></p>
              </td>
              <td><%= repo[:language] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
